* {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.landingbg {
  background: url(https://media.giphy.com/media/11FK8T5xtn9mi4/giphy.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-red-med {
  background: rgba(230, 0, 18, 0.75);
}

.nav-red-low {
  background: rgba(230, 0, 18, 0.7);
}

.nav-red-solid {
  background: #e60012;
}

.nav-link {
  font-size: 24px;
}

.jumbotron {
  /*background: rgba(160, 160, 160, 0.35);*/
  background: rgba(0, 0, 0, 0);
  height: 60vh;
}

.logo {
  width: auto;
  max-height: 75px;
}

h1 {
  font-size: 4.5rem;
}

.carousel-home {
  width: auto;
  max-height: 65vh;
}

.footer-icons {
  font-size: 2em;
  opacity: 0.4;
}

#hr-footer {
  width: 45vh;
}

.review-quotes {
  font-size: 24px;
}

.fas.fa-caret-left, .fas.fa-caret-right {
  color: black;
  font-size: 50px;
}

.nav-search-trans {
  opacity: 0.8;
}

.card-img-top {
  width: 210px;
  height: 350px;
}

.mario-kirby {
  width: 150px;
  height: auto;
  opacity: 0.6;
}

#backToTop {
  display: none;
}

.top {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  font-size: 250%;
  z-index: 3000;
}

.top:hover {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  font-size: 250%;
  z-index: 3000;
}

/*@media only screen and (max-width: 1025px) {

	.switch {
		width: 75%;
		height: auto;
	}
}
*/
@media only screen and (max-width: 768px) {
  .switch-tablet {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 651px) {
  .hide-in-mobile {
    display: none;
  }

  .small-logo {
    width: 100%;
  }

  .small-h1 {
    font-size: 3em;
  }

  .mobile-burger {
    width: 20px;
    height: 25px;
  }

  .top-mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    font-size: 28px;
    z-index: 1000;
  }

  .top-mobile:hover {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    font-size: 28px;
    z-index: 1000;
  }

  .switch-mobile {
    width: 100%;
    height: auto;
  }
}
/*.fixed-mario {
	width: 200px;
	height: auto;
	position: fixed;
	bottom: 0;
	right: 0;
	opacity:0.7;
	font-size: 15px;
}

.fixed-mario:hover {
	opacity: 0.8;
}

.tanooki {
	width: 25%;
	height: auto;
}*/
/*#map {
	box-sizing: content-box;
}
*/

/*# sourceMappingURL=style.css.map */
